@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');


:root {
    --primary-color : #fcfc2b57;
    --primary-color-dark: #b2b200;
    --secondary-color : #d2691e;
    --white: #fff;
    --black: #000000;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--white);
    font-family: 'Press Start 2P', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

a {
    color: var(--white);
}

.btn {
    margin-top: 36px;
    border: 0;
    background-color: var(--primary-color-dark);
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
    color: var(--white);
}

.btn:hover {
    opacity: 0.9;
    background-color: var(--secondary-color);
    color: var(--white);
}

.btn:focus {
    outline: 0;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-out;
}

.screen.up {
    margin-top: -100vh;
}

h1 {
    color: var(--primary-color-dark);
    line-height: 1.5;
}

.corruptor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin-top: 24px;
}

.corruptor-list li {
    margin: 10px;
}

.choose-corruptor-btn {
    background-color: transparent;
    border: 2px solid var(--primary-color-dark);
    color: var(--primary-color-dark);
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 100%;
    max-height: 175px;
    padding: 12px;
}

.choose-corruptor-btn:hover {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: var(--white);
}

.choose-corruptor-btn:active {
    background-color: var(--primary-color-dark);
}

.choose-corruptor-btn img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
