@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root {
    --primary-color : #fcfc2b57;
    --primary-color-dark: #b2b200;
    --primary-color-darker: #7e7e00;
    --secondary-color : #d2691e;
    --white: #fff;
    --black: #000000;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--white);
    font-family: 'Press Start 2P', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

a {
    color: var(--white);
}

.btn {
    border-radius: 0 !important;
    margin-top: 36px;
    border: 0;
    background-color: var(--primary-color-dark);
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
    color: var(--white);
    -webkit-clip-path: polygon(67% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 31%, 11% 0);
    clip-path: polygon(67% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 31%, 11% 0);
}

.btn:hover {
    opacity: 0.9;
    background-color: var(--secondary-color);
    color: var(--white);
}

.btn:focus {
    outline: 0;
}

.start__container-wrap {
    position: relative;
}

.start__container {
    border-top-left-radius: 0 !important;
    position: relative;
    padding: 32px;
    border-radius: 16px;
    background-color: var(--primary-color);
    border: 4px solid var(--primary-color-dark);
}

.start__container-left-pattern {
    display: block;
    left: 0;
    transform: translate(-3px, -47.9px);
    position: absolute;
    top: 0;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    width: 30px;
    height: 44.6px;
    background-color: var(--primary-color-darker);
    /* display: none !important; */
}

/* .start__container-right-pattern {
    display: block;
    right: 0;
    transform: translate(-64.6px, -35px);
    position: absolute;
    top: 0;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    width: 30px;
    height: 35px;
    background-color: var(--primary-color-light);
    display: none !important;
} */


.start__container-span {
    display: flex;
    position: relative;
    background-color: var(--primary-color-dark);
    position: absolute;
    left: 0;
    padding: 16px;
    top: 0;
    transform: translate(-1.7%, -200%);
}


.start__container-wrap {
    margin-top: 32px;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-out;
}

.screen.up {
    margin-top: -100vh;
}

.screen.game-container {
    position: relative;
}

h1 {
    color: var(--primary-color-dark);
    line-height: 1.5;
}

.corruptor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin-top: 24px;
}

.corruptor-list li {
    margin: 10px;
}

.corruptor {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out;
}

.choose-corruptor-btn {
    background-color: transparent;
    border: 2px solid var(--primary-color-dark);
    color: var(--primary-color-dark);
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 100%;
    max-height: 175px;
    padding: 12px;
}

.choose-corruptor-btn:hover {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: var(--white);
}

.choose-corruptor-btn:active {
    background-color: var(--primary-color-dark);
}

.choose-corruptor-btn img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.message {
    line-height: 1.7;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    z-index: 100;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -150%);
    transition: all transform 0.4s ease-in;
}

.message.visible {
    transform: translate(-50%, 150%);
    opacity: 1;
    transition: transform 0.4s ease-out;
}

.message.unvisible {
    opacity: 1;
    transform: translate(-50%, -150%);
    transition: transform 0.4s ease-out;
}

.audio-badge__wrapper {
    background-color: var(--primary-color-dark);
    padding: 16px;
    top: 0;
    left: 0;
    transform: translate(0, 33px);
    position: absolute;
    -webkit-clip-path: polygon(8% 0, 80% 0%, 100% 0, 100% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(8% 0, 80% 0%, 100% 0, 100% 100%, 20% 100%, 0 100%, 0% 20%);
    opacity: 0;
    transition: all transform 0.4s ease-in;
}

.audio-badge__wrapper.visible {
    opacity: 1;
    transform: translate(20%, 40%);
    transition: all 1s ease-out;
}

.audio-badge__wrapper.unvisible {
    opacity: 1;
    transform: translate(20%, -100%);
    transition: transform 1s ease-out;
}


.audio-badge__wrapper-content {
    font-size: 12px;
    display: flex;
    gap: 8px;
}

.audio-badge__wrapper-content-badge {
    width: 45px;
}

.audio-badge__wrapper-content-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.bar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%,40%);
}

.bar {
    width: 5px;
    height: 15px;
    border-radius: 8px;
    background-color: var(--white);
    animation: bar 1000ms infinite;
}

.bar:nth-child(odd) {
    animation-delay: 500ms;
}

@keyframes bar {
    0% {
        height: 15px;
    }

    50% {
        height: 25px;
    }

    100% {
        height: 15px;
    }
}